<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>search page</title>
</head>
    <body>
       <h1>Данные для поиска и удаления животного</h1>
       <form action="#" th:action="@{/petDel}" th:object="${formDel}" method="post">
            <input type="text" placeholder="Введите имя животного" th:field="*{petName} ">       
        <input type="number" placeholder="Введите возраст животного" th:field="*{petAge}" min="1">             
        <input type="text" placeholder="Введите диагноз животного" th:field="*{petDiagnosis}">
           <p><button type="submit">Submit</button></p>
</form>
       <!--<form action="#" th:action="@{/deleteAllPets}" th:object="${pet2}"  method="post">
         <input type="hidden" th:field="${pet1.petAge}"/>
           <input type="hidden" th:field="${pet1.petDiagnosis}"/>
           <input type="hidden" th:field="${pet1.petName}"/>  
       <button type="submit">Удалить всех найденных</button>    
       </form>-->
       
      
       <form action="#" th:action="@{/deleteAllPets}" th:object="${pet2}"  method="post">
         <input type="hidden" th:field="${pet1.petAge}"/>
           <input type="hidden" th:field="${pet1.petDiagnosis}"/>
           <input type="hidden" th:field="${pet1.petName}"/>  
       
       
     <div> <ul th:each="client: ${clientList}" >  
             
           <ul th:each="pet : ${petList}" th:inline="text" th:object="${petdel}">
               <li th:if="${client.id} == ${pet.id}" font-weight: bold type="disc">Хозяин: [[${client.petOwner}]]</li>
               <li th:if="${client.id} == ${pet.id}"  th:text="${pet.petName}"></li> 
               
       <form action="#" th:action="@{/deletePet}"   method="post">
        <input type="hidden" th:value="${pet.getPetName()}" name="petName"/>
        <input type="hidden" th:value="${pet.getId()}" name="Id"/>
        <input type="hidden" th:value="${pet.getPetDiagnosis()}" name="petDiagnosis"/>
        <input type="hidden" th:value="${pet.getPetAge()}" name="petAge"/>
        <ul th:if="${client.id} == ${pet.id}">
                <button type="submit">Удалить всех найденных животных</button> 
                <button type="submit" >Удалить одного зверя</button>
                                   </ul>  

       </form> 
           </ul>  
         </ul> 
     </div>        

       </form>
                    
    </body>
